@supports (backdrop-filter: blur()) {
  :global([data-theme='dark']) .gradient {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('../../../assets/illustrations/gradient-top.svg') no-repeat;
  }

  :global([data-theme='dark']) .blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
  }
}

.scrollSnap {
  overflow: scroll;
  scroll-padding-top: 128px;
  scroll-snap-type: y mandatory;
}

.main {
  padding: 0 var(--spacing-6);
}

.main section:first-of-type {
  scroll-snap-align: start;
}

@media screen and (min-width: 56.25rem) {
  :global([data-theme='dark']) .gradient {
    width: 64vw;
  }

  .main {
    display: flex;
    width: 100%;
    max-width: 75rem;
    gap: 84px;
    margin-inline: auto;
  }

  .main section:first-of-type {
    scroll-snap-align: start;
  }
}
