.footer {
  display: flex;
  padding: 43.45px 0;
  font-family: var(--flama-semicondensed);
  font-size: 0.6875rem;
}

.footer > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

.by {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-1);
}

.by > span {
  line-height: 0.8;
}

.inThePocket {
  width: 62.93px;
  height: 11.9px;
}

.inThePocket path {
  fill: var(--neutral-000);
}
