.footer {
  display: flex;
  padding: 43.45px 0;
  font-family: var(--flama-semicondensed-light);
  font-size: 0.6875rem;
}

.footer > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

.by {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-1);
}

.by > span {
  line-height: 0.8;
}

.inThePocket {
  width: 62.93px;
  height: 11.9px;
}

.inThePocket path {
  fill: var(--neutral-000);
}

.footerLinks {
  display: none;
}

@media screen and (min-width: 48rem) {
  .footer {
    padding: 57.8px 0;
    font-size: 1rem;
  }

  .by {
    gap: var(--spacing-2);
  }

  .inThePocket {
    width: 95.2px;
    height: 18px;
  }
}

@media screen and (min-width: 56.25rem) {
  .footer {
    display: flex;
    max-width: 75rem;
    justify-content: space-between;
    padding: var(--spacing-9) var(--spacing-6);
    margin-inline: auto;
  }

  .footer > a {
    align-items: flex-end;
    align-self: flex-start;
    margin-inline: 0;
  }

  .footerLinks {
    display: flex;
    gap: var(--spacing-9);
  }

  .footerLinksList > dt {
    margin-bottom: var(--spacing-2);
    font-family: var(--next);
  }

  .footerLinksList > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    line-height: 1.1875;
  }
}
