.background {
  position: relative;
}

.image {
  box-shadow: 0 1.8641px 17.7092px -3.7282px rgb(1 1 63 / 10%);
  filter: drop-shadow(0 4.9347px 19.7391px rgb(7 7 104 / 6%));
}

@media screen and (min-width: 48rem) {
  .background {
    max-width: 70%;
    margin-inline: auto;
  }
}

@media screen and (min-width: 56.25rem) {
  .background {
    display: none;
  }
}
