.wrapper {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  padding: calc(var(--spacing-4) + 0.5px) var(--spacing-2);
  cursor: pointer;
}

.hamburger {
  display: flex;
  width: 32px;
  height: 15px;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger > span {
  display: block;
  width: 32px;
  height: 2px;
  background-color: var(--neutral-000);
}

:global(#navigation-menu) + nav .hamburger span:first-of-type {
  position: relative;
  top: 0;
}

:global(#navigation-menu) + nav .hamburger span:nth-of-type(2) {
  position: relative;
  left: 0;
}

:global(#navigation-menu) + nav .hamburger span:last-of-type {
  position: relative;
  bottom: 0;
}

:global(#navigation-menu):checked + nav .hamburger span {
  width: 28px;
}

:global(#navigation-menu):checked + nav .hamburger span:first-of-type {
  top: 6.5px;
  transform: rotate(45deg);
}

:global(#navigation-menu):checked + nav .hamburger span:nth-of-type(2) {
  left: 100%;
  width: 0;
  height: 0;
  opacity: 0;
}

:global(#navigation-menu):checked + nav .hamburger span:last-of-type {
  bottom: 6.5px;
  transform: rotate(-45deg);
}

@media screen and (prefers-reduced-motion: no-preference) {
  .hamburger span {
    transition-duration: 300ms;
    transition-property: top, bottom, left, height, opacity, width, transform;
    transition-timing-function: ease-in-out;
  }
}
