.features {
  position: relative;
  height: calc(calc(3 * 100vh) - calc(3 * 128px));
}

@media screen and (min-width: 56.25rem) {
  .features {
    height: auto;
  }

  .content {
    position: static;
    overflow: unset;
    height: auto;
  }
}
