.navigation {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.toggleMenu:checked + .navigation {
  height: 100%;
}

.toggleMenu:checked + .navigation :global(.menu) {
  display: block;
}
