.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

.logo svg {
  width: 32px;
  height: 32px;
}

.logo span {
  display: block;
  height: fit-content;
  padding-bottom: var(--spacing-1);
  font-family: var(--flama-semicondensed);
  font-size: 1.5rem;
  font-weight: 650;
  line-height: 1.2;
}

.logoFooter {
  gap: 10px;
  line-height: 1.5;
}

.logoFooter span {
  font-size: 1.3125rem;
}

.logoFooter svg {
  width: 22px;
  height: 22px;
}

.logoFooter svg path {
  fill: var(--neutral-000);
}

@media screen and (min-width: 48rem) {
  .logo span {
    font-size: 2rem;
  }

  .logoFooter span {
    padding-bottom: var(--spacing-1);
    font-size: 2rem;
  }

  .logoFooter svg {
    width: 32px;
    height: 32px;
  }
}
