.hero {
  position: relative;
  min-height: calc(100vh - 128px);
}

.description {
  margin-bottom: var(--spacing-4);
  font-weight: 550;
  line-height: 1.625;
}

.callToActions {
  margin-bottom: var(--spacing-6);
}

.callToActions > li:not(:first-child) {
  display: none;
}

.teaser {
  margin-bottom: var(--spacing-10);
  box-shadow: 0 1.8263px 17.35px -3.6526px rgb(1 1 63 / 10%);
  filter: drop-shadow(0 21px 28px rgb(0 0 0 / 25%));
}

.scrollDown {
  display: flex;
  justify-content: flex-end;
}

.scrollDown > a {
  display: inline-flex;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 48rem) {
  .description {
    margin-bottom: var(--spacing-8);
    font-size: 1.25rem;
    line-height: 1.6;
  }

  .callToActions {
    margin-bottom: var(--spacing-10);
  }

  .teaser {
    max-width: 70%;
    margin-bottom: var(--spacing-12);
    margin-inline: auto;
  }

  .scrollDown > a {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 56.25rem) {
  .hero {
    display: flex;
    width: 100%;
    max-width: 75rem;
    min-height: calc(100vh - 100px);
    align-items: center;
    justify-content: space-between;
    gap: 84px;
    margin-inline: auto;
  }

  .content {
    padding-top: 80px;
    margin-bottom: 0;
  }

  .description {
    max-width: 44ch;
    margin-bottom: 80px;
    font-size: 1.125rem;
  }

  .callToActions {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
  }

  .callToActions > li:not(:first-child) {
    display: list-item;
  }

  .background {
    display: none;
  }

  .scrollDown {
    display: none;
  }
}

@media screen and (min-width: 80rem) {
  .description {
    max-width: 46ch;
    font-size: 1.25rem;
    letter-spacing: 0.02em;
  }
}
