.feature,
.content {
  height: inherit;
}

.feature {
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  font-weight: 550;
  letter-spacing: 0.61px;
  line-height: 1.625;
}

@media screen and (min-width: 48rem) {
  .content {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 56.25rem) {
  .content {
    display: flex;
    width: 100%;
    max-width: 75rem;
    align-items: center;
    font-size: 1.125rem;
    gap: 84px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 80rem) {
  .content {
    font-size: 1.5rem;
  }
}
