.heading {
  scroll-margin-top: calc(100px + var(--spacing-6));
}

.headingLink {
  display: flex;
  width: fit-content;
  align-items: center;
}

.headingLink > svg {
  margin-left: var(--spacing-2);
  opacity: 0;
}

.headingLink:hover > svg {
  opacity: 1;
}
