.callToAction {
  display: flex;
  align-items: center;
  padding: var(--spacing-3) var(--spacing-6);
  backdrop-filter: blur(66.9251px);
  background: #181818;
  border-radius: 42.832px;
  color: var(--white);
  font-family: 'Fira Code', sans-serif;
  gap: var(--spacing-6);
}

.callToAction > svg {
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 48rem) {
  .callToAction {
    padding: var(--spacing-4) var(--spacing-9);
    font-size: 1.25rem;
    line-height: 1;
  }
}

@media screen and (min-width: 56.25rem) {
  .callToAction {
    font-size: 1rem;
  }

  .callToAction > svg {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 80rem) {
  .callToAction {
    font-size: 1.25rem;
  }

  .callToAction > svg {
    width: 28px;
    height: 28px;
  }

  .callToActionCopy {
    gap: 72px;
  }
}

:global([data-theme='dark']) .callToAction {
  background-color: var(--purple-800);
}
