:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --neutral-000: var(--black);
  --neutral-900: var(--white);
  --purple-700: #320073;
  --purple-800: #00003d;
  --purple-900: #150025;

  /* Spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 40px;
  --spacing-10: 48px;
  --spacing-11: 56px;
  --spacing-12: 64px;
}

html[data-theme='dark'] {
  --neutral-000: var(--white);
  --neutral-900: var(--black);

  background-color: var(--purple-900);
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--neutral-900);
  color: var(--neutral-000);
  font-family: var(--flama);
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (min-width: 56.25rem) {
  html {
    scroll-padding-top: 100px;
    scroll-snap-type: y mandatory;
  }
}
