[data-theme='dark'] :is(pre[data-theme='light'], code[data-theme='light']) {
  display: none;
}

[data-theme='light'] :is(pre[data-theme='dark'], code[data-theme='dark']) {
  display: none;
}

pre,
code {
  font-family: var(--fira);
  font-size: 0.875rem;
}

pre {
  padding: var(--spacing-3) 0;
  border: 1px solid rgb(116 125 145 / 50.2%);
  margin-bottom: var(--spacing-4);
  border-radius: var(--spacing-2);
  line-height: 2;
  overflow-x: auto;
}

pre .line {
  padding: 0 var(--spacing-5);
}

[data-theme='dark'] pre {
  background-color: #282c34;
}
