@font-face {
  font-family: Flama;
  src: url('../public/fonts/Flama-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Flama Semicondensed';
  src: url('../public/fonts/FlamaSemicondensed-Basic.woff2') format('woff2');
}

@font-face {
  font-family: 'Flama Semicondensed Light';
  src: url('../public/fonts/FlamaSemicondensed-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'NEXT Poster';
  src: url('../public/fonts/NEXT-Poster-Regular.woff2') format('woff2');
}

@font-face {
  font-family: NEXT;
  src: url('../public/fonts/NEXT-Book-Regular.woff2') format('woff2');
}

:root {
  --sans-fallback: aria, helvetica, sans-serif;
  --flama: 'Flama', var(--sans-fallback);
  --flama-semicondensed: 'Flama Semicondensed', var(--sans-fallback);
  --flama-semicondensed-light: 'Flama Semicondensed Light', var(--sans-fallback);
  --next: 'next', var(--sans-fallback);
  --next-poster: 'NEXT Poster', var(--sans-fallback);
  --fira: 'fira code', var(--sans-fallback);
}
