@font-face {
  font-family: flama;
  src: url('/fonts/Flama-Book.woff2');
}

@font-face {
  font-family: 'flama semicondensed';
  src: url('/fonts/FlamaSemicondensed-Basic.woff2');
}

@font-face {
  font-family: 'flama semicondensed light';
  src: url('/fonts/FlamaSemicondensed-Light.woff2');
}

@font-face {
  font-family: 'next poster';
  src: url('/fonts/NEXT-Poster-Regular.woff2');
}

@font-face {
  font-family: next;
  src: url('/fonts/NEXT-Book-Regular.woff2');
}

:root {
  --sans-fallback: aria, helvetica, sans-serif;
  --flama: flama, var(--sans-fallback);
  --flama-semicondensed: 'flama semicondensed', var(--sans-fallback);
  --flama-semicondensed-light: 'flama semicondensed light', var(--sans-fallback);
  --next: 'next', var(--sans-fallback);
  --next-poster: 'next poster', var(--sans-fallback);
  --fira: 'fira code', var(--sans-fallback);
}
