.menu {
  position: fixed;
  top: 128px;
  left: -100%;
  display: flex;
  width: 100%;
  height: calc(100vh - 128px);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--neutral-900);
}

.menuList {
  margin-bottom: var(--spacing-10);
  padding-inline: var(--spacing-6);
}

.menuList > dt {
  margin-bottom: var(--spacing-4);
  font-family: var(--next);
  font-size: 1.25rem;
  line-height: 1.2;
}

.menuList > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  line-height: 1.1875;
}

.menuList > dd {
  display: flex;
  flex-direction: column;
}

:global(#navigation-menu):checked + nav > .menu {
  left: 0;
}

@media screen and (min-width: 48rem) {
  .menu {
    font-size: 1.25rem;
  }

  .menuList > dt {
    margin-bottom: var(--spacing-5);
    font-size: 1.5rem;
  }

  .menuList > div {
    gap: var(--spacing-6);
  }
}

@media screen and (min-width: 56.25rem) {
  .menu {
    display: none;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .menu {
    transition: left 300ms ease-in-out;
  }
}
